ROLLER_DB_HOST=localhost
ROLLER_DB_NAME=roller
ROLLER_DB_PASS=pass
ROLLER_DB_USER=root
ROLLER_DEBUG=1
ROLLER_ETHERSCAN_API_KEY=XXX
ROLLER_LOG_DATE_FMT='%Y-%m-%d %H:%M:%S'
ROLLER_LOG_DIR=./
ROLLER_LOG_FILE=roller.log
ROLLER_LOG_FMT='%(asctime)s %(levelname).3s: %(message)s - %(name)s +%(lineno)03d'
ROLLER_LOG_LEVEL=10
ROLLER_PORT=8000
ROLLER_SAFE_ADDRESS=ffffffffffffffffffffffffffffffffffffffff
